
.vs/EtabsModelConverter/v16/.suo
EtabsModelConverterPlugin/bin/Debug/EtabsModelConverterPlugin.pdb
EtabsModelConverterPlugin/cPlugin.cs
EtabsModelConverterPlugin/EtabsModelConverterPlugin.csproj.user
EtabsModelConverterPlugin/Helpers/EtabsMethods.cs
EtabsModelConverterPlugin/MainWindow.xaml
EtabsModelConverterPlugin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EtabsModelConverterPlugin/obj/Debug/EtabsModelConverterPlugin.csproj.AssemblyReference.cache
EtabsModelConverterPlugin/obj/Debug/EtabsModelConverterPlugin.csproj.CoreCompileInputs.cache
EtabsModelConverterPlugin/obj/Debug/EtabsModelConverterPlugin.csprojAssemblyReference.cache
EtabsModelConverterPlugin/obj/Debug/EtabsModelConverterPlugin.dll
EtabsModelConverterPlugin/obj/Debug/EtabsModelConverterPlugin.g.resources
EtabsModelConverterPlugin/obj/Debug/EtabsModelConverterPlugin.pdb
EtabsModelConverterPlugin/obj/Debug/EtabsModelConverterPlugin_MarkupCompile.cache
EtabsModelConverterPlugin/obj/Debug/EtabsModelConverterPlugin_MarkupCompile.i.cache
EtabsModelConverterPlugin/obj/Debug/EtabsModelConverterPlugin_MarkupCompile.i.lref
EtabsModelConverterPlugin/obj/Debug/MainWindow.baml
EtabsModelConverterPlugin/obj/Debug/MainWindow.g.cs
EtabsModelConverterPlugin/obj/Debug/MainWindow.g.i.cs
EtabsModelConverterPlugin/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
EtabsModelConverterPlugin/obj/Release/build.force
EtabsModelConverterPlugin/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
EtabsModelConverterPlugin/obj/Release/EtabsModelConverterPlugin.csproj.FileListAbsolute.txt
EtabsModelConverterPlugin/obj/Release/EtabsModelConverterPlugin.csprojAssemblyReference.cache
EtabsModelConverterPlugin/obj/Release/EtabsModelConverterPlugin_MarkupCompile.cache
EtabsModelConverterPlugin/obj/Release/EtabsModelConverterPlugin_MarkupCompile.i.cache
EtabsModelConverterPlugin/obj/Release/EtabsModelConverterPlugin_MarkupCompile.lref
EtabsModelConverterPlugin/obj/Release/MainWindow.g.cs
EtabsModelConverterPlugin/obj/Release/MainWindow.g.i.cs
EtabsModelConverterPlugin/ViewModels/Commands.cs
EtabsModelConverterPlugin/ViewModels/PropertiesAndFields.cs
README.md
